
body{
	margin:0;
	  font-family: 'Montserrat', sans-serif;

}

.swiper-container {
  width: 100vw;
  max-width: 550px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-wrapper{
	margin-bottom: 25px;
}

.swiper-slide{
  width: 50%;
	max-width: 300px;
}

/* Navigation arrows */

.swiper-button-next, .swiper-button-prev{
	color: #fff;
}

/* Pagination bullets */


.swiper-pagination.swiper-pagination-bullets{
	bottom:0;
	padding-bottom: 25px;
	padding-top: 25px;
}


.swiper-pagination-bullet {
	display: inline-block;
	background-color: transparent;
	border-radius: 0;
    border-top: 6px solid grey;
    text-align: left;
    margin-right: 4px;
    width: 20%;
    color: #000;
    padding: 5px;
}

.swiper-pagination-bullet-active{
	    display: inline-block;
    border-top: 6px solid #000;
    text-align: left;
    margin-right: 4px;
    width: 20%;
    color: #000;
    padding: 5px;

}